{{ define "main" }}
    <div class="archive {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
        {{ .Title }}
        {{ .Content }}
        <ul class="list-with-title">
            {{ range .Data.Pages.GroupByParam "Season" }}
                <div class="listing-title">{{ .Key }}</div>
                {{ range .Pages.ByParam "Title" }}
                    <ul class="listing">
                        <div class="listing-item">
                            <div class="listing-post"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
                                <div class="post-time"><span class="date">{{.Date.Format "January 01, 2006" }}</span></div>
                            </div>
                        </div>
                    </ul>
                {{ end }}
            {{ end }}
        </ul>
    </div>
{{ end }}