{{ define "main" }}

    <div class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
        {{ .Content }}
        {{ $sections := site.Sections }}
        {{ range $sections }}
            {{ partial "section.html" . }}
        {{ end }}
    </div>

    {{ $executiveSummaryPages := where site.RegularPages "Type" "in" site.Params.mainSection3 }}
    {{ range $executiveSummaryPages }}
        <div class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
        </div>    
    {{ end }}

{{ end }}
