{{ define "main" }}
    <div class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
        <div class="post-content">
            <div class="post-title">
                <h3>{{ .Title }}</h3>
                {{ if eq .Type "post"}}
                    <div class="info">
                        <em class="fas fa-calendar-day"></em>
                        <span class="date">{{ .Date.Format "January 02, 2006" }}</span>
                        <em class="fas fa-stopwatch"></em>
                        <span class="reading-time">{{ i18n "reading_time" .ReadingTime }}</span>
                    </div>
                {{ end }}
            </div>

            <div>
                <h1>Podcast</h1>
                <ul>
                    <li>Apple Podcast: {{ .Page.Params.ApplePodcast }}</li>
                    <li>Spotify Podcast: {{ .Page.Params.Spotify }}</li>
                    <li>YouTube: {{ .Page.Params.YouTube }}</li>
                </ul>
            </div>

            <div>
                <h1>Transcript</h1>
                {{ .Content }}
            </div>

        </div>
        <div class="post-footer">
            <div class="info">
                {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
                {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
            </div>
        </div>
    </div>
{{ end }}